# silly macOS
.DS_Store

# build files
build/
*.suo
*.db
*.opendb
*.ipch
*.obj
*.tlog
*.log
*.exe
*.ilk
*.pdb
*.idb
*.sln
*.vcxproj
*.filters
*.dll
*.exp
*.lib
*.htm
enc_temp_folder/f78ea6aff3b6a115a8db4107b10ea71/main.cpp
